*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
}
.timeline{
    display:flex;
    margin:5px;
}
ul{
    list-style: none;
}
li{
    padding:10px
}
.timeline__bold{
    font-weight:bold;
}
.timeline__item{
    height:75px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.timeline__bullet{
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color:green;
    margin:5px;
}
.timeline__lineholder::before {
    content: "";
    position: absolute;
    top: 0;
    transform: translateX(30px);
    width: 4px;
    height: 750px;
    z-index: -1;
    background-color: red;
    margin-top: 8px;
}
.timeline__eventItem{
    display:flex;
    align-items: center;
}
